/* Get a fancy font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


body {
  background-color: black;
  color: white; /* text color */
}

/* Change header text to imported font */
h1, h2, h3, h4, h5 {
  font-family: 'Yusei Magic', sans-serif;
}

/* Make text visible on inputs */
.shiny-input-container {
  color: #474747;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #303030;}

/*tr:hover {background-color: #ddd;}*/

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #cb4154;
  color: white;
}